@use "./base.scss";

// put your custom CSS here!
.cm-header-1{
    color:#fe45b3;
    }
    .cm-header-2{
    color:#ff9527;
    }
    .cm-header-3{
    color:#dcdd26;
    }
    .cm-header-4{
    color:#1ceb9e;
    }
    .cm-header-5{
    color:#19b6ff;
    }