@use "./base.scss";

// put your custom CSS here!


[saved-theme="dark"] article h1 {
    color: #fe45b3;
}

[saved-theme="dark"] article h2 {
    color: #ff9527;
}

[saved-theme="dark"] article h3 {
    color: #dcdd26;
}

[saved-theme="dark"] article h4 {
    color: #1ceb9e;
}

[saved-theme="dark"] article h5 {
    color: #19b6ff;
}

[saved-theme="dark"] article h5 {
    color: #aeaeae;
}





/*

[saved-theme="dark"] article h6 {
    color: rgb(187, 154, 247);
}

[saved-theme="dark"] strong {
    color: #7dcfff !important;
}

[saved-theme="dark"] code {
    color: #7dcfff !important;
}

[saved-theme="dark"] span.text-highlight {
    background-color: rgba(255, 158, 100, 0.4) !important;
}
*/