@use "./base.scss";

// put your custom CSS here!
.cm-header-1{
    color:#fe45b3;
    }
    .cm-header-2{
    color:#ff9527;
    }
    .cm-header-3{
    color:#dcdd26;
    }
    .cm-header-4{
    color:#1ceb9e;
    }
    .cm-header-5{
    color:#19b6ff;
    }



/* also for source? */

.markdown-preview-view h1{
    color: #fe45b3;
    }
    .markdown-preview-view h2{
    color: #ff9527;
    }
    .markdown-preview-view h3{
    color: #dcdd26;
    }
    .markdown-preview-view h4{
    color: #1ceb9e;
    }
    .markdown-preview-view h5{
    color: #19b6ff;
    }